.search-container{
    background-color: indianred;
}
.search-input {
    width: 70%;
}
.search-button {
    width: 20%;
    padding: 2px;
}
.movie-list-container {
    background-color: rgb(255, 200, 200);
}