.search-container{
    background-color: indianred;
}
.search-input {
    width: 70%;
}
.search-button {
    width: 20%;
    padding: 2px;
}
.movie-container {
    padding: 5vh 0;
}
#poster {
    padding: 20px 0;
    width: 100%;
}
.movie-detail-table {
    padding: 0 5%;
}